<%-include("partials/head.ejs")%>

   <body class="allBody">
      <%-include ("partials/header.ejs") %>

         <div class="banner2">


         </div>

         <main>
            
            <section class="gondola1">

               <h1>BMW</h1>
               <div class="autos">

                  <% autos.map((auto)=> { %>
                     <% if (auto.marca==="BMW" && auto.comprador===null) { %>
                        <article class="articulo">
                           <a href="/autos/detalle/<%= auto.id %>"><img class="auto-imagen"  src="/images/bmw<%=auto.id % 3 + 1%>.jpg"
                                 alt="BMW"></a>
                           <h4 class="descripcion">
                              <%=auto.name %>
                           </h4>
                           <p class="camion">
                              <i2 class="fa-solid fa-truck"></i2>
                           </p>
                           <p class="precios">
                              $ <%= auto.precio %>
                           </p>
                           <p class="desc-descripcion">
                              <%=auto.descuento%>% OFF
                           </p>
                        </article>
                        <% } %>
                           <%}) %>
               </div>
            </section>

            <section class="gondola2">
               <h1>AUDI</h1>

               <div class="autos">


                  <% autos.map((auto)=> { %>
                     <% if (auto.marca==='AUDI' ) { %>
                        <article class="articulo">
                           <a href="/autos/detalle/<%= carro.id %>"><img class="auto-imagen" src="/images/audi<%=auto.id % 3 + 1%>.jpg"
                                 alt="AUDI"></a>
                           <h4 class="descripcion">
                              <%=auto.name %>
                           </h4>
                           <p class="camion">
                              <i2 class="fa-solid fa-truck"></i2>
                           </p>
                           <p class="precios">
                              $ <%= auto.precio %>
                           </p>
                           <p class="desc-descripcion">
                              <%=auto.descuento%>% OFF
                           </p>
                        </article>
                        <% } %>
                           <%}) %>
               </div>
            </section>

            <section class="gondola3">
               <h1>PORSCHE</h1><br>
               <div class="autos">

                  <% autos.map((auto)=> { %>
                     <% if (auto.marca==="PORSCHE" ) { %>
                        <article class="articulo">
                           <a href="/autos/detalle/<%= auto.id %>"><img class="auto-imagen"  src="/images/porsche<%=auto.id % 3 + 1%>.jpg"
                                 alt="AUDI"></a>
                           <h4 class="descripcion">
                              <%=auto.name %>
                           </h4>
                           <p class="camion">
                              <i2 class="fa-solid fa-truck"></i2>
                           </p>
                           <p class="precios">
                              $ <%= auto.precio %>
                           </p>
                           <p class="desc-descripcion">
                              <%=auto.descuento%>% OFF
                           </p>
                        </article>
                        <% } %>
                           <%}) %>
               </div>

            </section>
         </main>

         <%-include("partials/footer.ejs")%>


   </body>




   </html>