<%-include("partials/head.ejs")%>

  <body>
    <%-include("partials/header.ejs")%>
      <section class="box">

        <img src="/images/imagenUsuario/<%= user.imagenUsuario %>" width="180" alt="" class="box-img">
        <h1>Hi <%= user.name %> </h1>
        <h2 class="Oficio">Desarrollador Full Stack - Web Developer</h2>
        <p class="reseña">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam magni quibusdam, tenetur
          similique nihil aspernatur inventore reprehenderit delectus distinctio illum suscipit ipsum architecto dolores
          obcaecati, ea a eveniet excepturi natus.</p>
        
        <ul>
          <li>
            <a href="https://facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com"><i class="fa-brands fa-square-twitter"></i></a>
          </li>
          <li>
            <a href="https://instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
          </li>
        </ul>


      </section>

      <div class="button-editar">
        <button class="button-editar-usuario" type="submit" name="editar" value="editar">editar</button>
      </div>

      </form>


      </section>


      </div>
      </main>
      
  </body>
  <%-include("partials/footer.ejs")%>

  </html>